torch
torchvision
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html jax[cuda]>=version
tensorflow-gan==2.0.0
tensorflow_io
tensorflow_datasets==4.3.0
tensorflow==2.8.0
tensorflow-addons==0.13.0
tensorboard==2.8.0
ninja
h5py
configargparse
lmdb
torchdiffeq
tfrecord
matplotlib
scikit-learn
plotly
wandb
pandas